# Import data

In [21]:
import pandas as pd
import kagglehub
import os

### Version 2 - Dataset isn't the key features

In [25]:

# Download latest version - Version 2
path = kagglehub.dataset_download("abdullah0a/retail-sales-data-with-seasonal-trends-and-marketing")
csv_path_v2 = os.path.join(path, "Retail and wherehouse Sale.csv")

In [26]:
retail_v2 = pd.read_csv(csv_path_v2, index_col=0)

In [27]:
retail_v2.head()

,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
YEAR,,,,,,,,
2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

### Version 1 - Dataset is the key features

#### Phase I: Downloand and initial inspection

In [31]:
# Download latest version
path = kagglehub.dataset_download("delafuenteo/retail-sales-csv")
csv_path = os.path.join(path, 'Retail_sales.csv')

retail_sales = pd.read_csv(csv_path, index_col=0)

In [30]:
retail_sales.head()

,Product ID,Date,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
Store ID,,,,,,,,,,
Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False

In [8]:
retail_sales['Product ID'].unique()

array([52372247,  3636541, 14258596, 34875230, 73978756, 34892534,
        9529489, 16840607, 60070623, 36491025, 80767985, 30776388,
       65656938,  8978790, 64503400, 65593523, 44234706,  9189980,
       38511400,  8914811, 29925957, 22286000, 90008474, 62375351,
        6741754, 86469371, 89528563, 93691949, 40024486, 56655933,
       56183269, 47856080, 81218219, 24102292,  8628619, 71215150,
       96282526, 22571670, 18794205, 47345331, 22928719, 50239115])

Key Features:
* Sales Revenue (USD): Total revenue generated from sales. / Ingresos generados por las ventas
* Units Sold: Quantity of items sold. / Cantidad
* Discount Percentage: The percentage discount applied to products. / Descuento aplicado
* Marketing Spend (USD): Budget allocated to marketing efforts./ Presupuesto a iniciativas de marketing
* Store ID: Identifier for the retail store. /ID tienda
* Product Category: The category to which the product belongs (e.g., Electronics, Clothing).
* Date: The date when the sale occurred./ Fecha de venta
* Store Location: Geographic location of the store.
* Day of the Week: Day when the sale took place. / Dia de venta
* Holiday Effect: Indicator of whether the sale happened during a holiday period./ Occurrio en un holiday ?

In [40]:
retail_sales.dtypes

Product ID                 int64
Date                      object
Units Sold                 int64
Sales Revenue (USD)      float64
Discount Percentage        int64
Marketing Spend (USD)      int64
Store Location            object
Product Category          object
Day of the Week           object
Holiday Effect              bool
dtype: object

In [42]:
retail_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, Spearsland to Spearsland
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Product ID             30000 non-null  int64
 1   Date                   30000 non-null  object
 2   Units Sold             30000 non-null  int64
 3   Sales Revenue (USD)    30000 non-null  float64
 4   Discount Percentage    30000 non-null  int64
 5   Marketing Spend (USD)  30000 non-null  int64
 6   Store Location         30000 non-null  object
 7   Product Category       30000 non-null  object
 8   Day of the Week        30000 non-null  object
 9   Holiday Effect         30000 non-null  bool
dtypes: bool(1), float64(1), int64(4), object(4)
memory usage: 2.3+ MB

In [44]:
retail_sales.describe()

,Product ID,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD)
count,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000
mean,4.461294e+07,6.161967,2749.509593,2.973833,49.944033
std,2.779759e+07,3.323929,2568.639288,5.974530,64.401655
min,3.636541e+06,0.000000,0.000000,0.000000,0.000000
25%,2.228600e+07,4.000000,882.592500,0.000000,0.000000
50%,4.002449e+07,6.000000,1902.420000,0.000000,1.000000
75%,6.559352e+07,8.000000,3863.920000,0.000000,100.000000
max,9.628253e+07,56.000000,27165.880000,20.000000,199.000000

In [45]:
retail_sales.isnull().sum()

Product ID               0
Date                     0
Units Sold               0
Sales Revenue (USD)      0
Discount Percentage      0
Marketing Spend (USD)    0
Store Location           0
Product Category         0
Day of the Week          0
Holiday Effect           0
dtype: int64